<div>
  <div>
    <img [src]="property.images[0]" [alt]="property.title" loading="lazy" />
    <span [class.available]="property.available" [class.unavailable]="!property.available">
      {{ property.available ? 'Available' : 'Not Available' }}
    </span>
  </div>

  <div>
    <h3>{{ property.title }}</h3>
    <p>{{ property.locality }}, {{ property.city }}</p>

    <div>
      <span> {{ property.bedrooms }} BHK</span>
      <span> {{ property.bathrooms }} Bath</span>
      <span> {{ property.area }} sqft</span>
    </div>

    <div>
      <span>{{ property.type }}</span>
      <span>{{ property.furnishing }}</span>
    </div>

    <div>
      <span>{{ property.rent | rentFormat }}</span>
      <a [routerLink]="['/customer/properties', property.id]">View Details</a>
    </div>
  </div>
</div>
