<div class="property-card" [appHighlight]="'rgb(240, 253, 250)'">
  <div class="card-image-wrapper">
    <img class="card-img" [src]="property.images[0]" [alt]="property.title" loading="lazy" />
    <span class="availability-badge" [class.available]="property.available" [class.unavailable]="!property.available">
      {{ property.available ? 'Available' : 'Not Available' }}
    </span>
  </div>

  <div class="card-content">
    <h3 class="card-title">{{ property.title }}</h3>
    <p class="card-location">{{ property.locality }}, {{ property.city }}</p>

    <div class="card-specs">
      <span>{{ property.bedrooms }} BHK</span>
      <span>{{ property.bathrooms }} Bath</span>
      <span>{{ property.area }} sqft</span>
    </div>

    <div class="card-labels">
      <span>{{ property.type }}</span>
      <span>{{ property.furnishing }}</span>
    </div>

    <div class="card-footer">
      <span class="card-price">{{ property.rent | rentFormat }}</span>
      <a class="btn-view-details" [routerLink]="['/customer/properties', property.id]">View Details</a>
    </div>
  </div>
</div>
